body {

}

main {
  text-align: center;
}

.welcome-split {
  background-image: url("../images/index-background.jpg");
  width: 1200px;
  height: 485px;
  /* добавил фон через стили или лучше добавить изображение в html? */
}

.search-hotel {
  background-image: url("../images/background-newsletter.jpg");
  width: 1200px;
  height: 411px;
}

.catalog-hotels {
  background-image: url("../images/background-catalog.jpg");
  width: 1200px;
  height: 408px;
}
